@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="divRow" id="divDepartment"></div>
<div class="divRow" id="divEmployeeByDept">
    <div class="divRow" id="divAddEmployeeBtn"></div>
    <div class="divRow" id="divEmployeeTbl"></div>
</div>
<div class="divRow" id="divManageEmployee"></div>
@*<div id="divGoToEmployeeTblBtn"></div>
<div id="divClearFormDataBtn"></div>
*@
@section Scripts {

    <script src="~/React/dist/employee-bundle.js"></script>

}
